<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard">Smart Scholl</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="alunos">Alunos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="professores">Professores</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                  aria-controls="dropdown-basic">
            Button dropdown <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Sair</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
